.dsble {
  overflow: hidden !important; }

.showSearch {
  overflow-y: scroll !important;
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  display: block !important; }

.hideSearch {
  display: none !important; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0; }

h1 {
  color: #062F4F !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600; }

p {
  font-family: 'Roboto', sans-serif;
  color: #062F4F !important; }

.navbar-default {
  margin-bottom: 0;
  background: #062F4F;
  border-radius: 0 !important;
  border: none;
  z-index: 10000000000; }
  .navbar-default .navbar-brand {
    color: #fff;
    font-size: 1.8em;
    font-weight: 900;
    text-transform: uppercase; }
  .navbar-default .navbar-right a {
    color: #fff !important;
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    transition: 0.2s ease-out; }
    .navbar-default .navbar-right a:hover {
      background: #0693b3 !important; }
    .navbar-default .navbar-right a i {
      color: white !important;
      font-size: 1em;
      margin-right: 0.3em;
      transition: 0.1s ease-out;
      background: transparent !important; }

html, body {
  background: #ecf0f1;
  height: 100%; }

body {
  padding-top: 50px; }

.signup-section, .login-section {
  height: 100vh; }
  .signup-section form, .login-section form {
    margin-top: 14em; }

.wrongpage {
  height: 100vh; }

.login-section .signup-container {
  text-align: right; }
  .login-section .signup-container p {
    margin-top: 36px; }
    .login-section .signup-container p a {
      font-size: 1.8em; }
      .login-section .signup-container p a .fa-sign-in {
        margin-right: 0.4em; }

.search-page {
  background: #ecf0f1;
  min-height: 100%;
  width: 100%;
  margin: 5.9em 0 2.9em 0; }
  .search-page .post {
    margin-bottom: 3em; }

.search {
  background: #ecf0f1;
  z-index: 1000000000;
  min-height: 100vh;
  margin-top: 2.5em;
  display: none; }
  .search .form-container {
    padding: 8em 0; }
    .search .form-container form {
      text-align: center; }
      .search .form-container form div {
        position: relative; }
        .search .form-container form div input {
          height: 1.8em;
          font-size: 4em;
          color: #062F4F !important;
          width: 40%;
          min-width: 80%;
          padding-right: 1.3em;
          border: 3px solid #062F4F !important;
          background: transparent; }
          @media only screen and (max-width: 30em) {
            .search .form-container form div input {
              height: 1.5em;
              font-size: 2.5em;
              padding-right: 1.5em; } }
        .search .form-container form div .fa {
          color: #062F4F !important;
          font-size: 3.3em;
          position: relative;
          left: -1.3em;
          cursor: pointer; }
          @media only screen and (max-width: 30em) {
            .search .form-container form div .fa {
              height: 1em;
              font-size: 2.5em; } }

.home-jumbotron {
  border-radius: 0 !important;
  height: 100vh;
  background: transparent;
  background: url("../img/pexels-photo-167699.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .home-jumbotron .logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: -4em;
    height: 100%; }

.post {
  position: relative;
  height: 100%; }
  .post .row {
    height: 100%; }

.post-jumbotron {
  border-radius: 0 !important;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  background: url("../img/clouds.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .post-jumbotron .post-info .title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5.9em;
    margin-bottom: 1em; }
  .post-jumbotron .post-info .nm-date {
    margin-top: 2.5em; }
    .post-jumbotron .post-info .nm-date .user-nm {
      font-style: italic;
      font-weight: 500; }
    .post-jumbotron .post-info .nm-date .post-date {
      font-style: italic;
      font-weight: 500; }
  .post-jumbotron .post-info img {
    border-radius: 50%; }

.about-section {
  text-align: center !important;
  padding-top: 13em; }
  .about-section h1 {
    font-size: 2.8em;
    text-transform: uppercase; }
  .about-section .img-con {
    display: flex;
    justify-content: center; }
    .about-section .img-con img {
      border-radius: 100%;
      width: 120px; }
  .about-section .txt-con {
    display: flex;
    justify-content: center; }
    .about-section .txt-con p {
      margin-top: 2em;
      font-size: 1.4em;
      text-align: center; }
  .about-section .font-con {
    display: flex;
    justify-content: center; }
    .about-section .font-con i {
      font-size: 2.3em;
      color: #062F4F !important; }
      .about-section .font-con i:visited, .about-section .font-con i:hover, .about-section .font-con i:focus {
        color: rgba(6, 47, 79, 0.7) !important; }

.comment-counts {
  margin: 13em 0;
  text-align: center;
  background: rgba(6, 47, 79, 0.1);
  border-radius: 10px; }
  .comment-counts p {
    font-size: 4em; }

.comments .comment {
  margin-top: 3em; }
  .comments .comment h1 {
    font-size: 2em;
    font-weight: 800; }
  .comments .comment .date {
    padding: 0.9em 0;
    text-transform: uppercase;
    font-weight: 600; }
  .comments .comment .ln {
    background: rgba(6, 47, 79, 0.3);
    height: 3px;
    min-width: 12em;
    width: 20em;
    max-width: 20em;
    display: block;
    margin: 0.4em 0 0.6em 0; }
  .comments .comment .comment-comment {
    font-size: 1.5em; }
  .comments .comment button {
    margin-top: 0.6em; }

.comments .sub {
  margin-top: 3em;
  padding: 0 0 0 2em;
  border-left: 2px dotted rgba(6, 47, 79, 0.3); }

.leave-reply {
  margin: 9em 0; }
  .leave-reply h1 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0.4em; }
  .leave-reply p {
    font-size: 1.4em; }

form {
  margin-top: 3em; }
  form .form-input {
    display: flex;
    flex-direction: column; }
  form textarea {
    margin-bottom: 3em;
    border: none;
    background: rgba(6, 47, 79, 0.1);
    border-radius: 3px;
    max-width: 100%;
    color: #062F4F;
    font-size: 1.5em; }
  form input {
    border: none;
    background: rgba(6, 47, 79, 0.1);
    border-radius: 3px;
    font-size: 1.5em;
    padding: 0 0.2em;
    color: #062F4F !important;
    height: 40px; }
    form input[placeholder] {
      line-height: 40px; }
  form label {
    color: #062f4f;
    font-size: 1.3em;
    text-transform: uppercase; }
  form button {
    margin-top: 36px; }

.post {
  position: relative;
  overflow: hidden; }
  .post .overlay {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100000; }
  .post h1 {
    padding: 1em 1.4em;
    font-size: 1.3em; }
  .post p {
    padding: 0em 1.4em;
    margin-bottom: 0.8em; }
  .post .text-box {
    display: flex;
    justify-content: space-between; }
    .post .text-box span:first-child {
      text-align: left;
      color: #062F4F; }
      .post .text-box span:first-child + span {
        text-align: right;
        color: #062F4F; }

.mt {
  margin-top: 5em; }

.message p {
  color: red !important; }

.user-wrapper aside {
  position: relative;
  top: 0;
  bottom: 0; }
  .user-wrapper aside > .user-info {
    width: 100%;
    height: 100%; }

.user-aside {
  background: #062f4f;
  height: 100vh; }
  .user-aside h1, .user-aside p, .user-aside span {
    color: white !important;
    text-align: center; }
  .user-aside p {
    font-size: 1.4em; }
  .user-aside .user-info .user-name {
    padding: 3em 0;
    text-align: center; }
    .user-aside .user-info .user-name img {
      margin-bottom: 1.4em;
      height: 150px;
      width: 150px;
      background: white; }
    .user-aside .user-info .user-name p {
      padding: 0.5em 0; }
  .user-aside .user-info nav ul {
    list-style: none;
    padding: 0; }
    .user-aside .user-info nav ul li {
      transition: 0.2s ease-out;
      margin: 0.5em 0;
      padding-left: 1em; }
      .user-aside .user-info nav ul li:hover {
        background: #1093b3; }
      .user-aside .user-info nav ul li a {
        padding: 0.3em 0;
        display: block;
        font-size: 1.3em;
        color: white;
        text-decoration: none; }
  .user-aside .user-info nav .settings ul {
    height: 0;
    overflow: hidden;
    transition: 0.2s ease-in; }
  .user-aside .user-info nav .settings:hover {
    background: #113a5a; }
    .user-aside .user-info nav .settings:hover > ul {
      height: 100%; }
  .user-aside .social {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .user-aside .social i {
      align-self: center;
      color: white !important;
      font-size: 1.5em;
      padding: 1em 0 0 0; }

.latest-news h1 {
  font-size: 1.4em;
  padding: 1.56em;
  text-transform: uppercase;
  background: #ecf0f1;
  color: #1e1e1e;
  margin-bottom: 6px; }

.latest-news ul {
  padding-left: 1.4em;
  margin: 0;
  list-style: none; }
  .latest-news ul li {
    margin-bottom: 6px;
    background: #062F4F; }
    .latest-news ul li a {
      color: #1e1e1e;
      text-transform: capitalize;
      font-family: 'Raleway', sans-serif;
      display: block;
      font-size: 1.1em;
      font-weight: bold;
      padding: 1.5em 0;
      background: #ecf0f1;
      margin-right: 0;
      transition: margin-right 0.1s ease-in, color 0.1s ease-in; }
      .latest-news ul li a:nth-child(1):hover {
        margin-right: 0.3em;
        color: #062F4F; }
      .latest-news ul li a:hover, .latest-news ul li a:visited, .latest-news ul li a:focus {
        text-decoration: none; }
      .latest-news ul li a i {
        padding: 0 1.5em; }

.latest-videos h1 {
  font-size: 1.4em;
  padding: 1.56em;
  text-transform: uppercase;
  background: #ecf0f1;
  color: #1e1e1e;
  margin-top: 6px; }

.latest-videos figure {
  padding: 0em 1.3em;
  margin: 1.45em 0em; }
  .latest-videos figure figcaption {
    min-height: 7em;
    background: #ecf0f1; }

.main-section .header {
  background: #ecf0f1;
  overflow: hidden;
  height: 5.95em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .main-section .header h1 {
    font-size: 1.3em;
    margin-top: 0.3em;
    display: block;
    text-align: center;
    color: grey !important;
    user-select: none;
    pointer-events: none; }
    .main-section .header h1 .selected {
      color: #062F4F;
      border-bottom: 3px solid #062F4F;
      padding-bottom: 6px; }
    .main-section .header h1 span {
      pointer-events: auto;
      user-select: none;
      cursor: pointer;
      margin-left: 1em;
      text-transform: uppercase; }
      .main-section .header h1 span:nth-child(3) {
        text-transform: uppercase; }

.user-blog h1, .user-favorites h1 {
  font-size: 1.4em;
  padding: 1.56em;
  margin-bottom: 6px;
  background: #ecf0f1;
  text-transform: uppercase;
  color: #062F4F; }

.user-blog ul, .user-favorites ul {
  list-style: none;
  padding-left: 10px; }
  .user-blog ul li, .user-favorites ul li {
    position: relative;
    margin-bottom: 6px;
    border-top: 1px dotted #062F4F; }
    .user-blog ul li a, .user-favorites ul li a {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 1.2em 0;
      left: 0;
      color: #062F4F;
      display: flex;
      flex-direction: row;
      transition: color 0.2s ease-out; }
      .user-blog ul li a h4, .user-favorites ul li a h4 {
        font-weight: 700;
        color: #062F4F; }
      .user-blog ul li a:hover, .user-favorites ul li a:hover, .user-blog ul li a:visited, .user-favorites ul li a:visited, .user-blog ul li a:focus, .user-favorites ul li a:focus {
        text-decoration: none; }
    .user-blog ul li img, .user-favorites ul li img {
      height: 60px;
      max-width: 100px;
      padding: 0 20px;
      border-radius: 100%; }
      .user-blog ul li img + div, .user-favorites ul li img + div {
        display: flex;
        flex-direction: column; }
        .user-blog ul li img + div span, .user-favorites ul li img + div span {
          margin-top: 4px; }

.articles {
  padding-top: 2.5em; }
  .articles > .col-lg-6 {
    margin-bottom: 5em; }
  .articles h1 {
    font-size: 1.8em;
    padding: 18px 0px 18px 0px;
    text-align: left;
    font-weight: 700; }
  .articles p {
    padding: 8px 0px 25px 0px;
    text-align: left;
    font-size: 1.4em;
    font-weight: 100;
    color: #5a5a5a; }
  .articles figure + div {
    min-height: 3.8em; }
    .articles figure + div > div:nth-child(1) {
      text-align: left;
      font-size: 1.3em; }
      .articles figure + div > div:nth-child(1) .nm {
        color: #062F4F; }
      .articles figure + div > div:nth-child(1) + div {
        text-align: right;
        font-size: 1.3em; }
        .articles figure + div > div:nth-child(1) + div i {
          padding-right: 0.5em;
          color: #062F4F; }
        .articles figure + div > div:nth-child(1) + div > i:first-child + span {
          padding-right: 0.7em; }
  .articles figure figcaption {
    min-height: 10em; }
  .articles > div {
    margin-bottom: 2em; }

footer {
  background: #062F4F;
  min-height: 10em;
  padding: 2em 0 2em 0; }
  footer .copy {
    color: white;
    text-transform: uppercase;
    text-align: left;
    display: block;
    padding-top: 1em; }
    @media only screen and (max-width: 75em) {
      footer .copy {
        text-align: center; } }
    @media only screen and (max-width: 60em) {
      footer .copy {
        text-align: center; } }
    @media only screen and (max-width: 40em) {
      footer .copy {
        text-align: center; } }
    @media only screen and (max-width: 30em) {
      footer .copy {
        text-align: center; } }
  footer .icons a {
    color: white; }
    footer .icons a i {
      font-size: 1.8em;
      padding-top: 0.7em;
      pointer-events: auto;
      cursor: pointer; }
  footer h3 {
    color: white;
    font-size: 1.9em;
    font-weight: 900;
    text-transform: uppercase; }
    footer h3 + div {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      footer h3 + div > span {
        color: white;
        font-size: 1.2em;
        text-transform: uppercase; }
  footer nav ul {
    list-style: none; }
    footer nav ul li {
      border-right: 1px solid white;
      text-align: center; }
      footer nav ul li:nth-child(4) {
        border: none; }
      footer nav ul li a {
        font-size: 1.9em;
        color: white;
        font-weight: 900; }
        footer nav ul li a:hover, footer nav ul li a:visited, footer nav ul li a:focus {
          color: white;
          text-decoration: none; }

button {
  background: #ecf0f1;
  font-size: 1.3em !important;
  border: 1px solid #062F4F !important;
  color: white;
  font-weight: 600 !important;
  text-transform: uppercase;
  border-radius: 0 !important;
  transition: background 0.1s ease-out, color 0.2s ease-out;
  background: #062F4F; }
  button:hover, button:focus, button:active {
    color: #062F4F !important;
    background: transparent; }

.post-section img {
  max-height: 40em;
  width: 100%;
  border-radius: 6px;
  margin-top: 4em; }

.post-section .img-hf {
  padding-right: 15px; }

.post-section .para p {
  padding: 1.5em 0;
  font-size: 1.7em;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

.post-section .para blockquote {
  color: #062F4F;
  font-size: 1.7em;
  background: #f0f0f0;
  border-left: 4px solid #062F4F;
  font-style: italic;
  margin-top: 20px; }
  .post-section .para blockquote:before {
    content: '"';
    color: #062F4F;
    margin-right: 4px;
    font-size: 1.5em;
    line-height: 0; }
  .post-section .para blockquote:after {
    content: '"';
    color: #062F4F;
    margin-right: 4px;
    line-height: 0;
    font-size: 1.5em; }

.post-section .tags-soc {
  padding: 10px 0;
  background: rgba(6, 47, 79, 0.1);
  border-radius: 2px; }
  .post-section .tags-soc .tags .slash {
    opacity: 0.4; }
  .post-section .tags-soc .tags p {
    font-size: 20px;
    font-weight: 800; }
    .post-section .tags-soc .tags p span {
      font-weight: 800;
      font-size: 20px !important; }
      .post-section .tags-soc .tags p span a {
        color: #062F4F !important;
        font-weight: 800;
        text-transform: uppercase;
        transition: 0.2s ease-out; }
        .post-section .tags-soc .tags p span a:visited, .post-section .tags-soc .tags p span a:hover, .post-section .tags-soc .tags p span a:focus {
          color: rgba(6, 47, 79, 0.7) !important;
          text-decoration: none; }
  .post-section .tags-soc .fa {
    font-size: 1.4em;
    color: #062F4F !important;
    font-weight: 800;
    transition: 0.2s ease-out; }
    .post-section .tags-soc .fa:visited, .post-section .tags-soc .fa:hover, .post-section .tags-soc .fa:focus {
      color: rgba(6, 47, 79, 0.7) !important; }

.direction {
  display: none; }

.rm-p {
  padding: 0; }
