// HTML, BODY, WRAPPER

html {
    height: 100%;
    body {
        @extend html;
        padding-top: 50px;
        font-size: 14px;
    }
}

h1, h2, h3, h4, h5, h6, p, span, button, a {
    color: $mainFontColor;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $mainFontFamilyItalic;
}

p, span, button, a {
    font-family: $mainFontFamilyRegular;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

span {
    font-size: 1.2em;
}

// NAVIGATION