body {

}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;

}

h1 {
    color: $mainColor!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Roboto', sans-serif;
    color: $mainColor!important;
}

.navbar-default {
    margin-bottom: 0;
    background: $mainColor;
    border-radius: 0!important;
    border: none;
    .navbar-brand {
        color: #fff;
        font-size: 1.8em;
        font-weight: 900;
        text-transform: uppercase;
    }
    .navbar-right {
        a {
            color: #fff!important;
            font-size: 1.4em;
            font-family: 'Raleway', sans-serif;
            transition: 0.2s ease-out;
            &:hover {
                background: white!important;
                color: $mainColor!important;
            }

        }
    }
}
