.wrapper {
    margin-bottom: 4em;
}

.signup-section {
    min-height: 100vh;
    form {
        margin-top: 14em;
    }
}

.img-bg {
    background: url('./../img/tea.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 14em;
    & > .row {
        margin-top: 3.5em;
    }
    .title {
        text-align: center;
        padding: 2em 0 1em 0;
        height: 100%;
        top: 0;
        z-index: 10;
        position: relative;
        h1 {
            color: white!important;
            text-transform: uppercase;
            font-size: 3.5em;
            font-family: $mainFontFamily;
            position: relative;
        }
    }
    button {
        position: relative;
        top: 0;
        left: 0;
    }
}

.boards-section {
    @extend .signup-section;
    table {
        .headings {
            th:nth-child(2), th:nth-child(3), th:nth-child(4) {
                text-align: center;
            }
            th {
                background: $mainColor!important;
                border-top: 0;
                color: #fff;
                font-size: 1.1em;
                font-weight: 500;
                text-transform: uppercase;
                font-family: $mainFontFamily;
            }
        }
        .data {
            cursor: pointer;
            background: transparent;
            transition: 0.1s ease-in-out;
            &:hover {
                background: rgba(200, 200, 200, 1);
            }
            a {
                display: block;
                height: 100%;
                width: 100%;
            }
            td:nth-child(2), td:nth-child(3), td:nth-child(4) {
                text-align: center;
            }
            td {
                color: #000;
                font-weight: 500;
                font-size: 1.1em;
                border-top: 0;
                font-family: $mainFontFamily;
            }
        }
    }
}

.create-thread-section {
    @extend .signup-section;
}

.create-post-section {
    @extend .signup-section;
}

.wrongpage {
    min-height: 100vh;
}

.login-section {
    @extend .signup-section;
    .signup-container {
        text-align: right;
        p {
            margin-top: 36px;
            a {
                font-size: 1.8em;
                .fa-sign-in {
                    margin-right: 0.4em;
                }
            }
        }
    }
}


.search-page {
    background: #ecf0f1;
    min-height: 100%;
    width: 100%;
    margin: 5.9em 0 2.9em 0;
    .post {
        margin-bottom: 3em;
    }
}

.blog-page {
    padding-top: 1.9em;
    background: #ecf0f1;
    min-height: 100vh;
    width: 100%;
    margin: 0em 0 2.9em 0;
    .post {
        margin-bottom: 3em;
    }
}

.search {
    background: #ecf0f1;
    z-index: 1000000000;
    min-height: 100vh;
    margin-top: 2.5em;
    display: none;
    .form-container {
        padding: 8em 0;
        form {
            text-align: center;
            div {
                position: relative;
                input {
                    height: 1.8em;
                    font-size: 4em;
                    color: $mainColor!important;
                    width: 40%;
                    min-width: 80%;
                    padding-right: 1.3em;
                    border: 3px solid $mainColor!important;
                    background: transparent;
                    @include bp-small {
                        height: 1.5em;
                        font-size: 2.5em;
                        padding-right: 1.5em;
                    }
                }
                .fa {
                    color: $mainColor!important;
                    font-size: 3.3em;
                    position: relative;
                    left: -1.3em;
                    cursor: pointer;
                    @include bp-small {
                        height: 1em;
                        font-size: 2.5em;
                    }
                }
            }
        }
    }
}

.jumbotron-container {
    background: black;
}

.home-jumbotron {
    border-radius: 0!important;
    height: 85vh;
    background: transparent;
    background: url('../img/tea.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
    position: relative;
    opacity: 1;
    overflow: hidden;
    text-align: center;
    background-attachment: fixed;
    z-index: 10000;
    &:after {
        content: '';
        height: 100%;
        width: 100%;
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
    }
    .logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 0;
        z-index: 100000;
        height: 100%;
    }
}

.post {
    position: relative;
    height: 100%;
    .row {
        height: 100%;
    }
}

.post-jumbotron {
    border-radius: 0!important;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    background: url('../img/clouds.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    .post-info {
        .title {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 5.9em;
            margin-bottom: 1em;
        }
        .nm-date {
            margin-top: 2.5em;
            .user-nm {
                font-style: italic;
                font-weight: 500;
            }
            .post-date {
                font-style: italic;
                font-weight: 500;
            }
        }
        img {
            border-radius: 50%;
        }
    }
}

.about-section {
    text-align: center!important;
    padding-top: 13em;
    h1 {
        font-size: 2.8em;
        text-transform: uppercase;
    }
    .img-con {
        display: flex;
        justify-content: center;
        img {
            border-radius: 100%;
            width: 120px;
        }
    }
    .txt-con {
        display: flex;
        justify-content: center;
        p {
            margin-top: 2em;
            font-size: 1.4em;
            text-align: center;
        }
    }
    .font-con {
        display: flex;
        justify-content: center;
        i {
            font-size: 2.3em;
            color: $mainColor!important;
            &:visited, &:hover, &:focus {
                color: rgba(6,47,79,0.7)!important;
            }
        }
    }
}

.comment-counts {
    margin: 13em 0;
    text-align: center;
    background: rgba(6,47,79,0.1);
    border-radius: 10px;
    p {
        font-size: 4em;
    }
}


.comments-page-hd {
    min-height: 20em;
    background: url('./../img/waves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.comments-page-bd {
    min-height: 100vh!important;
}


.comments {
    min-height: 100vh;
    margin: 2em 0;
    .comment {
        margin-top: 3em;
        padding: 2em;
        background: lightgrey;
        h1 {
            font-size: 1.3em;
            font-weight: 800;
        }
        .date {
            padding: 0.9em 0;
            text-transform: uppercase;
        }
        .ln {
            background: rgba(6,47,79,0.3);
            height: 3px;
            min-width: 12em;
            width: 30%;
            max-width: 20em;
            display: block;
            margin: 0.4em 0 0.6em 0;
        }
        .comment-comment {
            font-size: 1.1em;
        }
        button {
            margin-top: 0.6em;
        }
    }
    .sub {
        margin-top: 3em;
        padding: 0 0 0 2em;
        border-left: 2px dotted rgba(6,47,79,0.3);
    }
}

.leave-reply {
    margin: 9em 0;
    h1 {
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 0.4em;
    }
    p {
        font-size: 1.4em;
    }
}

form {
    margin-top: 3em;
    .form-input {
        display: flex;
        flex-direction: column;
    }
    textarea {
        margin-bottom: 3em;
        border: none;
        background: rgba(6,47,79,0.1);
        border-radius: 3px;
        max-width: 100%;
        color: $mainColor;
        height: 10em;
        resize: none;
        font-size: 1.5em;
    }
    input {
        border: none;
        background: rgba(6,47,79,0.1);
        border-radius: 3px;
        font-size: 1.5em;
        padding: 0 0.2em;
        color: $mainColor!important;
        //padding: 10px 0;
        height: 40px;
        &[placeholder] {
            line-height: 40px;
        }
    }
    label {
        color: rgba(6,47,79,1);
        font-size: 1.3em;
        text-transform: uppercase;
    }
}

.post {
    position: relative;
    overflow: hidden;
    .overlay {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 100000;
    }
    h1 {
        padding: 1em 1.4em;
        font-size: 1.3em;
    }
    p {
        padding: 0em 1.4em;
        margin-bottom: 0.8em;
    }
    .text-box {
        display: flex;
        justify-content: space-between;
        span:first-child {
            text-align: left;
            color: $mainColor;
            & + span {
                text-align: right;
                color: $mainColor;
            }
        }

    }
}

.mt {
    margin-top: 5em;
}

.message {
    p {
        color: red!important;
    }
}


.create-board-section {
    min-height: 100vh;
}

.create-blog-section {
    min-height: 100vh;
}

.threads-section {
    min-height: 100vh;
    table {
        .headings {
            th:nth-child(2), th:nth-child(3), th:nth-child(4) {
                text-align: center;
            }
            th {
                background: $mainColor!important;
                border-top: 0;
                color: #fff;
                font-size: 1.1em;
                font-weight: 500;
                text-transform: uppercase;
                font-family: $mainFontFamily;
            }
        }
        .data {
            cursor: pointer;
            background: transparent;
            transition: 0.1s ease-in-out;
            &:hover {
                background: rgba(200, 200, 200, 1);
            }
            td:nth-child(2), td:nth-child(3), td:nth-child(4) {
                text-align: center;
            }
            td {
                color: #000;
                font-weight: 500;
                font-size: 1.1em;
                border-top: 0;
                font-family: $mainFontFamily;
            }
        }
    }
}

.blog-textarea {
    height: 19em!important;
}

.text-right {
    p {
        padding: 2em 0;
    }
}

.blogs-section {
    min-height: 100vh;
}

.img-responsive {
    width:100%;
}

.temp {
    height: 90em;
    width: 100%;
    background: $mainColor2;
    z-index: 1000;
    position: relative;
}


.blog {
    margin-top: 3em;
    h1 {
        padding-top: 0.6em;
    }
    p {
        text-align: left;
        padding: 1em 0;
    }
    .info-icons {
        padding: 1em 0;
        text-align: right;
        padding-right: 1.3em;
    }
    .text-info-container {
        padding: 1em 0;
        text-align: left;
        .nm {
            align-self: left;
            font-weight: bolder;
            padding: 2em 0;
            padding-left: 1.3em;
        }
    }
}

.loader-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 7em;
}

.loader {
    border: 8px solid rgba(220, 220, 220, 1);
    border-top: 8px solid $mainColor;
    border-radius: 50%;
    width: 70px;
    position: absolute;
    height: 70px;
    animation: spin 2s linear infinite;
}


.user-section {
    overflow: hidden;
    &:after {
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $mainColor;
        opacity: 0;
        z-index: 10000000;
        transition: 0.6s ease-in-out;
        position: fixed;

    }
    .img-bg {
        .title {
            h1 {
                left: 80px;
            }
        }
    }
    .fa-bars {
        color: #fff;
        font-size: 2em;
        position: fixed;
        right: 0;
        z-index: 1000000000;
        padding: 1em;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
}

.show-overlay {
    &:after {
        opacity: 0.7!important;
    }
}

.menu-btn-rotate {
    transform: rotate(90deg)!important;
    color: #fff!important;
}

.menu-btn-clr {
    color: #000!important;
}

.show-menu {
    left: 0!important;
    opacity: 1!important;
}

.user-menu {
    background: $mainColor;
    min-width: 20em;
    position: fixed;
    transition: 0.6s ease-in-out;
    left: -100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    z-index: 10000000000;
    box-shadow: -10px 0px 30px black;
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 1em;
            transition: 0.2s ease-in-out;
            background: $mainColor2;
            cursor: pointer;
            color: #000;
            font-weight: 600;
            font-size: 0.95em;
            font-family: $mainFontFamily;
            letter-spacing: 0.1em;
            &:hover {
                background: lightgrey;
            }
        }
    }
    .user-avatar {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 20em;
        min-height: 20em;
        position: relative;
        &:after {
            content: '';
            height: 100%;
            width: 100%;
            background: black;
            position: absolute;
            opacity: 0.3;
        }
    }
    .user-name {
        padding: 0.75em 0;
        height: 3.55em;
        h1 {
            color: #fff!important;
            text-align: center;
            font-size: 1.6em;
        }
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}