$mainFontColor: rgba(20, 20, 20, 1);
$mainFontColor2: rgba(190, 190, 190, 1);
$mainColor1: rgba(255, 255, 255, 1);
$mainColor2: rgb(236, 240, 241);
$loaderColor: rgba(180, 180, 180, 1);
$mainFontFamilyBold: "Cardo-Bold";
$mainFontFamilyItalic: "Cardo-Italic";
$mainFontFamilyRegular: "Cardo-Regular";