@import "tools";
@import "vars";
@import "mixins";

html, body {
    background: rgb(236, 240, 241);
    min-height: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
    letter-spacing: 1.7px;

}

h1 {
    color: $mainColor!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $mainFontFamily;
    font-weight: 400;
}

p {
    font-family: $mainFontFamily;
    color: $mainColor!important;
}

.navbar-default {
    margin-bottom: 0;
    background: rgb(236, 240, 241);
    border-radius: 0!important;
    border: none;
    transition: 0.2s ease;
    z-index: 10000000000;
    box-shadow: 0px 0px 10px -4px black;
    .navbar-brand {
        color: #000;
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: 0.1em;
        transition: 0.2s ease;
        text-transform: uppercase;
    }
    .navbar-right {
        a {
            color: #000;
            font-size: 1em;
            font-family: $mainFontFamily;
            font-weight: 600!important;
            transition: 0.2s ease;
            &:hover {
                color: #000!important;
                background: rgba(220, 220, 220, 1)!important;

            }
            i {
                color: #000;
                font-size: 1em;
                margin-right: 0.3em;
                transition: 0.2s ease;
                background: transparent!important;
            }

        }
    }
}

.nav-bg {
    background: rgba(220, 220, 220, 1)!important;
    .navbar-right {
        a {
            &:hover {
                color: #000!important;
                background: rgb(236, 240, 241)!important;

            }
            &:hover>i {
                color: #000!important;
            }
        }
    }
    a, li, i {
        color: #000!important;
    }
}

.wrapper {
    margin-bottom: 4em;
}

.signup-section {
    min-height: 100vh;
    form {
        margin-top: 14em;
    }
}

.img-bg {
    background: url('./../img/tea.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 14em;
    & > .row {
        margin-top: 3.5em;
    }
    .title {
        padding: 2em 0 1em 0;
        height: 100%;
        text-align: center;
        top: 0;
        z-index: 10;
        position: relative;
        h1 {
            color: white!important;
            text-transform: uppercase;
            font-size: 4em;
            font-family: $mainFontFamily;
            position: relative;
        }
    }
    button {
        position: relative;
        top: 0;
        left: 0;
    }
}

.boards-section {
    @extend .signup-section;
    .row:nth-child(2) {
        margin-top: 3em;
    }
    .board {
        cursor: pointer;
        position: relative;
        z-index: 100000;
        margin: 0em 3em 3em 3em;
        padding: 0;
        background: rgba(220, 220, 220, 1);
        .title_date {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .title {
                background: rgba(220, 220, 220, 1);
                flex: 1;
                font-weight: 600;
                font-family: $mainFontFamily;
                line-height: 150%;
                letter-spacing: 0.05em;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: 0.1em solid rgba(240, 240, 240, 1);
                h1 {
                    font-size: 1.8em;
                }
            }
            .thread-count {
                display: flex;
                flex-direction: column;
                background: rgba(220, 220, 220, 1);
                font-weight: 200;
                font-family: $mainFontFamily;
                line-height: 150%;
                letter-spacing: 0.05em;
                padding: 10px;
                border-bottom: 0.1em solid rgba(240, 240, 240, 1);
                border-left: 0.1em solid rgba(240, 240, 240, 1);
                text-align: center;
                span {
                    font-weight: 600;
                    
                    margin-bottom: 0.2em;
                }
            }
        }
        .thread-user-cat {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .category-name {
                background: rgba(220, 220, 220, 1);
                margin-top: 0.3em;
                padding: 10px;
                display: flex;
                font-family: $mainFontFamily;
                justify-content: center;
                flex-direction: column;
                border-right: 0.1em solid rgba(240, 240, 240, 1);
                span {
                    font-weight: 600;
                    margin-bottom: 0.2em;
                }
            }
            .last-thread-info {
                display: flex;
                flex-direction: column;
                background: rgba(220, 220, 220, 1);
                margin: 0.3em 0.3em 0 0.3em;
                padding: 10px;
                flex: 1;
                letter-spacing: 0.05em;
                line-height: 150%;
                font-family: $mainFontFamily;
                border-right: 0.1em solid rgba(240, 240, 240, 1);
                span {
                    font-weight: 600;
                    margin-bottom: 0.2em;
                }
            }
            .last-thread {
                display: flex;
                flex-direction: column;
                background: rgba(220, 220, 220, 1);
                margin-top: 0.3em;
                padding: 10px;
                letter-spacing: 0.05em;
                line-height: 150%;
                font-family: $mainFontFamily;
                span {
                    font-weight: 600;
                    margin-bottom: 0.2em;
                }
            }
        }
    }




    table {
        .headings {
            th:nth-child(2), th:nth-child(3), th:nth-child(4) {
                text-align: center;
            }
            th {
                background: $mainColor!important;
                border-top: 0;
                color: #fff;
                font-size: 1.1em;
                font-weight: 500;
                text-transform: uppercase;
                font-family: $mainFontFamily;
            }
        }
        .data {
            cursor: pointer;
            background: transparent;
            transition: 0.1s ease-in-out;
            &:hover {
                background: rgba(200, 200, 200, 1);
            }
            a {
                display: block;
                height: 100%;
                width: 100%;
            }
            td:nth-child(2), td:nth-child(3), td:nth-child(4) {
                text-align: center;
            }
            td {
                color: #000;
                font-weight: 500;
                font-size: 1.1em;
                border-top: 0;
                font-family: $mainFontFamily;
            }
        }
    }
}

.create-thread-section {
    @extend .signup-section;
}

.create-post-section {
    @extend .signup-section;
}

.wrongpage {
    min-height: 100vh;
}

.login-signup-section {
    height: calc(100% - 49px);
    background: url('./../img/tea.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .login-signup-container {
        &:before {
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background: -moz-linear-gradient(bottom, rgba(200,200,200,1) 0%, rgba(200,200,200,0.89) 50%, rgba(200,200,200,0.89) 51%, rgba(200,200,200,0.84) 71%, rgba(200,200,200,0.78) 100%);
            background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(200,200,200,1)), color-stop(50%, rgba(200,200,200,0.89)), color-stop(51%, rgba(200,200,200,0.89)), color-stop(71%, rgba(200,200,200,0.84)), color-stop(100%, rgba(200,200,200,0.78)));
            background: -webkit-linear-gradient(bottom, rgba(200,200,200,1) 0%, rgba(200,200,200,0.89) 50%, rgba(200,200,200,0.89) 51%, rgba(200,200,200,0.84) 71%, rgba(200,200,200,0.78) 100%);
            background: -o-linear-gradient(bottom, rgba(200,200,200,1) 0%, rgba(200,200,200,0.89) 50%, rgba(200,200,200,0.89) 51%, rgba(200,200,200,0.84) 71%, rgba(200,200,200,0.78) 100%);
            background: -ms-linear-gradient(bottom, rgba(200,200,200,1) 0%, rgba(200,200,200,0.89) 50%, rgba(200,200,200,0.89) 51%, rgba(200,200,200,0.84) 71%, rgba(200,200,200,0.78) 100%);
            background: linear-gradient(to top, rgba(200,200,200,1) 0%, rgba(200,200,200,0.89) 50%, rgba(200,200,200,0.89) 51%, rgba(200,200,200,0.84) 71%, rgba(200,200,200,0.78) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#c8c8c8', GradientType=0 );
            position: absolute;
            top: 0;
            z-index: 1000;
        }
    }
    .login-signup {
        box-shadow: 0px 0px 40px -10px black;
        background:rgba(200, 200, 200, 1);
        z-index: 100000;
        min-height: calc(40em + 67px);
        height: calc(40em + 67px);
        position: relative;
        max-width: 40em;
        .login-signup-buttons {
            background: rgba(180, 180, 180, 1);
            text-align: center;
            position: relative;
            div {
                padding: 15px;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                border-bottom: 6px solid grey;
            }
            p {
                font-size: 1.6em;
            }
        }
    }
    form {
        padding: 15px;
        label {
            font-family: $mainFontFamily;
            letter-spacing: 0.1em;
        }
        input {
            border-radius: 0;
            background: rgba(220, 220, 220, 1);
            font-family: $mainFontFamily;
            box-shadow: none;
            border: 0;
            font-weight: 700;
            padding: 1.5em 1.5em 1.5em 1em;
        }
        .form-group {
            
        }

        button {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0em 1em 1em 0;
        }
    }
    .login-form-container {
        height: 40em;
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
    }
    .signup-form-container {
        height: 40em;
        display: none;
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
    }
}

.login-signup-selected {
    background: rgba(220, 220, 220, 1)!important;
}

.search-page {
    background: #ecf0f1;
    min-height: 100%;
    width: 100%;
    margin: 5.9em 0 2.9em 0;
    .post {
        margin-bottom: 3em;
    }
}

.blog-page {
    padding-top: 1.9em;
    background: #ecf0f1;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0em 0 2.9em 0;
    .post {
        margin-bottom: 3em;
    }
}

.search {
    background: #ecf0f1;
    z-index: 1000000000;
    min-height: 100vh;
    margin-top: 2.5em;
    display: none;
    .form-container {
        padding: 8em 0;
        form {
            text-align: center;
            div {
                position: relative;
                input {
                    height: 1.8em;
                    font-size: 4em;
                    color: $mainColor!important;
                    width: 40%;
                    min-width: 80%;
                    padding: 0 0.5em;
                    border: 3px solid $mainColor!important;
                    background: transparent;
                    @include bp-small {
                        height: 1.5em;
                        font-size: 2.5em;
                        padding-right: 1.5em;
                    }
                }
                .fa {
                    color: $mainColor!important;
                    font-size: 3.3em;
                    position: relative;
                    left: -1.3em;
                    cursor: pointer;
                    @include bp-small {
                        height: 1em;
                        font-size: 2.5em;
                    }
                }
            }
        }
    }
}

.jumbotron-container {
    background: black;
}

.home-jumbotron {
    border-radius: 0!important;
    height: 85vh;
    background: transparent;
    background: url('../img/tea.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
    position: relative;
    opacity: 1;
    overflow: hidden;
    text-align: center;
    background-attachment: fixed;
    z-index: 10000;
    &:after {
        content: '';
        height: 100%;
        width: 100%;
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
    }
    .logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 0;
        z-index: 100000;
        height: 100%;
    }
}

.post {
    position: relative;
    height: 100%;
    .row {
        height: 100%;
    }
}

.post-jumbotron {
    border-radius: 0!important;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    background: url('../img/clouds.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    .post-info {
        .title {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 5.9em;
            margin-bottom: 1em;
        }
        .nm-date {
            margin-top: 2.5em;
            .user-nm {
                font-style: italic;
                font-weight: 500;
            }
            .post-date {
                font-style: italic;
                font-weight: 500;
            }
        }
        img {
            border-radius: 50%;
        }
    }
}

.about-section {
    text-align: center!important;
    padding-top: 13em;
    h1 {
        font-size: 2.8em;
        background: rgba(220, 220, 220, 1);
        text-transform: uppercase;
        padding: 1em 0;
        font-family: $mainFontFamily;
        font-weight: 200;
        border-bottom: 0.05em solid rgba(240, 240, 240, 1);
    }
    .img-con {
        display: flex;
        justify-content: center;
        background: rgba(220, 220, 220, 1);
        padding: 2em 0;
        border-bottom: 0.2em solid rgba(240, 240, 240, 1);
        img {
            width: 120px;
            border-radius: 100%;
        }
    }
    .txt-con {
        display: flex;
        justify-content: center;
        background: rgba(220, 220, 220, 1);
        p {
            margin-top: 2em;
            font-size: 1.4em;
            text-align: center;
        }
    }
    .font-con {
        display: flex;
        justify-content: center;
        i {
            font-size: 2.3em;
            color: $mainColor!important;
            &:visited, &:hover, &:focus {
                color: rgba(6,47,79,0.7)!important;
            }
        }
    }
}

.comment-counts {
    margin: 13em 0;
    text-align: center;
    background: rgba(6,47,79,0.1);
    border-radius: 10px;
    p {
        font-size: 4em;
    }
}


.comments-page-hd {
    min-height: 20em;
    background: url('./../img/waves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.comments-page-bd {
    min-height: 100vh!important;
}


.comments {
    min-height: 100vh;
    margin: 2em 0;
    .thread {
        position: relative;
        margin: 0em 1em 13em 1em;
        padding: 0;
        background: rgba(220, 220, 220, 1);
        z-index: 100000;
        .title_date {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .title {
                background: rgba(220, 220, 220, 1);
                flex: 1;
                font-weight: 600;
                font-family: $mainFontFamily;
                line-height: 150%;
                letter-spacing: 0.05em;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: 0.1em solid rgba(240, 240, 240, 1);
                h1 {
                    font-size: 1.8em;
                }
            }
        }
        .comment-user-cat {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .user-info {
                background: rgba(220, 220, 220, 1);
                cursor: pointer;
                padding: 11px;
                display: flex;
                font-family: $mainFontFamily;
                justify-content: center;
                flex-direction: row;
                border-right: 0.1em solid rgba(240, 240, 240, 1);
                img {
                    max-width: auto;
                    height: 60px;
                    margin-right: 11px;
                }
                .user-name {
                    display: flex;
                    flex-direction: column;
                    span {
                        font-weight: 600;
                        margin-bottom: 0.2em;
                    }
                }
            }
            .last-comment-info {
                display: flex;
                flex-direction: column;
                background: rgba(220, 220, 220, 1);
                margin: 0.3em 0.3em 0 0.3em;
                padding: 10px;
                flex: 1;
                letter-spacing: 0.05em;
                line-height: 150%;
                font-family: $mainFontFamily;
                span {
                    font-weight: 600;
                    margin-bottom: 0.2em;
                }
            }
        }
     }    
}

.comment {
        margin: 1.5em 1em 1em 1em;
        padding: 0.1em;
        position: relative;
        z-index: 100000;
        .comment-user-cat {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .user-info {
                background: rgba(220, 220, 220, 1);
                padding: 11px;
                display: flex;
                cursor: pointer;
                font-family: $mainFontFamily;
                justify-content: center;
                flex-direction: row;
                img {
                    max-width: auto;
                    max-height: 60px;
                    margin-right: 11px;
                }
                .user-name {
                    display: flex;
                    flex-direction: column;
                    span {
                        font-weight: 600;
                        margin-bottom: 0.2em;
                    }
                }
            }
            .comment-content-likes {
                display: flex;
                flex-direction: column;
                background: rgba(220, 220, 220, 1);
                margin: 0em 0.1em 0 0.1em;
                padding: 10px 0 10px 0;
                flex: 1;
                letter-spacing: 0.05em;
                line-height: 150%;
                font-family: $mainFontFamily;
                .content {
                    height: 5em;
                    min-height: 5em;
                    padding: 0px 10px;
                    flex: 2;
                }
                .likes {
                    height: 100%;
                    flex: 1;
                    padding: 5px 10px;
                    display: flex;
                    flex-direction: row;
                    border-top: 0.1em solid rgba(240, 240, 240, 1);
                    i {
                        cursor: pointer;
                        transition: 0.1s ease-in-out;
                        &:hover {
                            color: rgba(120, 120, 120, 1);
                        }
                    }
                }
                span {
                   margin-left: 0.3em;
                }
            }
            .comment-created {
                display: flex;
                flex-direction: column;
                background: rgba(220, 220, 220, 1);
                padding: 10px;
                letter-spacing: 0.05em;
                line-height: 150%;
                font-family: $mainFontFamily;
                span {
                    font-weight: 600;
                    margin-bottom: 0.2em;
                }
            }
        }
    }

.leave-reply {
    margin: 9em 0;
    h1 {
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 0.4em;
    }
    p {
        font-size: 1.4em;
    }
}

.form {
    margin-top: 3em;
    .form-input {
        display: flex;
        flex-direction: column;
    }
    textarea {
        margin-bottom: 3em;
        border: none;
        background: rgba(6,47,79,0.1);
        border-radius: 3px;
        max-width: 100%;
        color: $mainColor;
        height: 10em;
        resize: none;
        font-size: 1.5em;
    }
    input {
        border: none;
        background: rgba(6,47,79,0.1);
        border-radius: 3px;
        font-size: 1.5em;
        padding: 0 0.2em;
        color: $mainColor!important;
        //padding: 10px 0;
        height: 40px;
        &[placeholder] {
            line-height: 40px;
        }
    }
    label {
        color: rgba(6,47,79,1);
        font-size: 1.3em;
        text-transform: uppercase;
    }
}

.post {
    position: relative;
    overflow: hidden;
    .img {
        height: 275px; 
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        padding: 1em 1.4em;
        font-size: 1.3em;
        margin: 0.15em 0em 0.1em 0em;
        background: rgba(220, 220, 220, 1);
    }
    p {
        padding: 1em 1.4em;
        margin-bottom: 0.1em;
        background: rgba(220, 220, 220, 1);
    }
    .text-box {
        display: flex;
        justify-content: space-between;
        background: rgba(220, 220, 220, 1);
        padding: 1em 0em;
        span:first-child {
            text-align: left;
            color: $mainColor;
            & + span {
                text-align: right;
                color: $mainColor;
            }
        }

    }
}

.mt {
    margin-top: 5em;
}

.message {
    p {
        color: red!important;
    }
}


.create-board-section {
    min-height: 100vh;
}

.create-blog-section {
    min-height: 100vh;
}

.threads-section {
    min-height: 100vh;
    .row:nth-child(2) {
        margin-top: 3em;
    }
     .thread {
        margin: 0em 3em 3em 3em;
        cursor: pointer;
        position: relative;
        z-index: 100000;
        .title_date {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .title {
                background: rgba(220, 220, 220, 1);
                flex: 1;
                font-weight: 600;
                font-family: $mainFontFamily;
                line-height: 150%;
                letter-spacing: 0.05em;
                padding: 10px;
                margin-right: 0.1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1 {
                    font-size: 1.8em;
                }
            }
            .comment-count {
                display: flex;
                flex-direction: column;
                background: rgba(220, 220, 220, 1);
                font-weight: 200;
                font-family: $mainFontFamily;
                line-height: 150%;
                letter-spacing: 0.05em;
                padding: 10px;
                text-align: center;
                span {
                    font-weight: 600;
                    margin-bottom: 0.1em;
                }
            }
        }
        .latest-comment_thread-created {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .last-comment-info {
                display: flex;
                flex-direction: column;
                background: rgba(220, 220, 220, 1);
                margin: 0.1em 0.1em 0 0em;
                padding: 10px;
                flex: 1;
                letter-spacing: 0.05em;
                line-height: 150%;
                font-family: $mainFontFamily;
                span {
                    font-weight: 600;
                    margin-bottom: 0.1em;
                }
            }
            .thread-created {
                display: flex;
                flex-direction: column;
                background: rgba(220, 220, 220, 1);
                margin-top: 0.1em;
                padding: 10px;
                letter-spacing: 0.05em;
                line-height: 150%;
                font-family: $mainFontFamily;
                span {
                    font-weight: 600;
                    margin-bottom: 0.1em;
                }
            }
        }
     }
    table {
        .headings {
            th:nth-child(2), th:nth-child(3), th:nth-child(4) {
                text-align: center;
            }
            th {
                background: $mainColor!important;
                border-top: 0;
                color: #fff;
                font-size: 1.1em;
                font-weight: 500;
                text-transform: uppercase;
                font-family: $mainFontFamily;
            }
        }
        .data {
            cursor: pointer;
            background: transparent;
            transition: 0.1s ease-in-out;
            &:hover {
                background: rgba(200, 200, 200, 1);
            }
            td:nth-child(2), td:nth-child(3), td:nth-child(4) {
                text-align: center;
            }
            td {
                color: #000;
                font-weight: 500;
                font-size: 1.1em;
                border-top: 0;
                font-family: $mainFontFamily;
            }
        }
    }
}

.blog-textarea {
    height: 19em!important;
}

.text-right {
    p {
        padding: 2em 0;
    }
}

.blogs-section {
    min-height: calc(100% - 49px);
}

.img-responsive {
    width:100%;
}

.temp {
    height: 90em;
    width: 100%;
    background: $mainColor2;
    z-index: 1000;
    position: relative;
}


.blog {
    margin: 1.2em 0;
    background: rgba(220, 220, 220, 1);
    h1 {
        margin: 20px -15px;
        padding-bottom: 15px;
        border-bottom: 0.04em solid rgba(240, 240, 240, 1);
    }
    p {
        text-align: left;
        padding: 1em 0;
    }
    img {
        margin-top: 0;
        padding-right: 0px;
        padding-left: 0px;
    }
    .info-icons {
        padding: 1em 0;
        text-align: right;
        padding-right: 1.3em;
    }
    .info {
        border-top: 0.1em solid rgba(240, 240, 240, 1);
    }
    .text-info-container {
        padding: 1em 0;
        text-align: left;
        span {
            white-space: nowrap;
        }
        .nm {
            align-self: left;
            font-weight: bolder;
            padding: 2em 0;
            padding-left: 1.3em;
        }
    }
}

.loader-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 7em;
}

.loader {
    border: 8px solid rgba(220, 220, 220, 1);
    border-top: 8px solid $mainColor;
    border-radius: 50%;
    width: 70px;
    position: absolute;
    height: 70px;
    animation: spin 2s linear infinite;
}


.user-section {
    overflow: hidden;
    &:after {
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $mainColor;
        opacity: 0;
        z-index: 10000000;
        transition: 0.6s ease-in-out;
        position: fixed;

    }
    .img-bg {
        .title {
            h1 {
                left: 80px;
            }
        }
    }
    .fa-bars {
        color: #fff;
        font-size: 2em;
        position: fixed;
        right: 0;
        z-index: 1000000000;
        padding: 1em;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
}

.show-overlay {
    &:after {
        opacity: 0.7!important;
    }
}

.menu-btn-rotate {
    transform: rotate(90deg)!important;
    color: #fff!important;
}

.menu-btn-clr {
    color: #000!important;
}

.show-menu {
    left: 0!important;
    opacity: 1!important;
}

.user-menu {
    background: $mainColor;
    min-width: 20em;
    position: fixed;
    transition: 0.6s ease-in-out;
    left: -100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    z-index: 10000000000;
    box-shadow: -10px 0px 30px black;
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 1em;
            transition: 0.2s ease-in-out;
            background: $mainColor2;
            cursor: pointer;
            color: #000;
            font-weight: 600;
            font-size: 0.95em;
            font-family: $mainFontFamily;
            letter-spacing: 0.1em;
            &:hover {
                background: lightgrey;
            }
        }
    }
    .user-avatar {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 20em;
        min-height: 20em;
        position: relative;
        &:after {
            content: '';
            height: 100%;
            width: 100%;
            background: black;
            position: absolute;
            opacity: 0.3;
        }
    }
    .user-name {
        padding: 0.75em 0;
        height: 3.55em;
        h1 {
            color: #fff!important;
            text-align: center;
            font-size: 1.6em;
        }
    }
}


.categories {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:after {
        content: '';
        height: 100%;
        width: 100%;
        background: black;
        opacity: 0.2;
        position: absolute;
        top: 0;
    }
    .category-container {
        margin: 1em auto;
        width: 50%;
        padding: 2em;
        background: rgba(210, 210, 210, 1);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 1.5em;
        position: relative;
        cursor: pointer;
        z-index: 1000;
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.latest-news {
    h1 {
        font-size: 1.4em;
        padding: 1.56em;
        text-transform: uppercase;
        background: rgb(236, 240, 241);
        color: rgb(30, 30, 30);
        margin-bottom: 6px;
    }
    ul {
        padding-left: 1.4em;
        margin: 0;
        list-style: none;
        li {
            margin-bottom: 6px;
            background: $mainColor;
            a {
                color: rgb(30, 30, 30);
                text-transform: capitalize;
                font-family: 'Raleway', sans-serif;
                display: block;
                font-size: 1.1em;
                font-weight: bold;
                padding: 1.5em 0;
                background: rgb(236, 240, 241);
                margin-right: 0;
                transition: margin-right 0.1s ease-in, color 0.1s ease-in;
                &:nth-child(1):hover {
                    margin-right: 0.3em;
                    color: $mainColor;
                }
                &:hover, &:visited, &:focus {
                    text-decoration: none;
                }
                i {
                    padding: 0 1.5em;
                }
            }
        }
    }
}

.latest-videos {
    h1 {
        font-size: 1.4em;
        padding: 1.56em;
        text-transform: uppercase;
        background: rgb(236, 240, 241);
        color: rgb(30, 30, 30);
        margin-top: 6px;
    }
    figure {
        padding: 0em 1.3em;
        margin: 1.45em 0em;
        img {
        }
        figcaption {
            min-height: 7em;
            background: rgb(236, 240, 241);
        }
    }
}

.main-section {
    .header {
        background: rgb(236, 240, 241);
        overflow: hidden;
        height: 5.95em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        h1 {
            font-size: 1.3em;
            margin-top: 0.3em;
            display: block;
            text-align: center;
            color: grey!important;
            user-select: none;
            pointer-events: none;
            .selected {
                color: $mainColor;
                background: rgba(220, 220, 220, 1);
            }
            span {
                pointer-events: auto;
                user-select: none;
                cursor: pointer;
                margin-left: 1em;
                padding: 10px;
                text-transform: uppercase;
                &:nth-child(3) {
                    text-transform: uppercase;
                }
            }
        }
    }
}

.user-blog {
    h1 {
        font-size: 1.4em;
        margin: 2em 0;
        background: rgb(236, 240, 241);
        text-transform: uppercase;
        color: $mainColor;
    }
    ul {
        list-style: none;
        padding-left: 10px;
        li {
            position: relative;
            margin: 0em 0em 1em 0em;
            border-right: 15px solid rgba(240, 240, 240, 1);
            padding: 0;
            background: rgba(220, 220, 220, 1);
            position: relative;
            a {
                position: relative;
                width: 100%;
                height: 100%;
                left: 0;
                color: $mainColor;
                display: flex;
                flex-direction: row;
                transition: color 0.2s ease-out;
                h4 {
                    font-weight: 700;
                    color: $mainColor;
                    background: rgba(220, 220, 220, 1);;
                    padding: 8px;
                    border-bottom: 0.05em solid rgba(240, 240, 240, 1);
                }
                &:hover, &:visited, &:focus {
                    text-decoration: none;
                }
            }
            img {
                min-height: 70px;
                max-height: 85px;
                max-width: auto;
                & + div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    span {
                        margin-top: 4px;
                        height: 100%;
                        background: rgba(220, 220, 220, 1);
                        padding: 8px;
                    }
                }
            }
        }
    }
}

.top-threads {
    h1 {
        font-size: 1.4em;
        margin: 2em 0;
        background: rgb(236, 240, 241);
        text-transform: uppercase;
        color: $mainColor;
    }
    ul {
        list-style: none;
        padding-left: 10px;
        li {
            position: relative;
            margin: 0em 0em 1em 0em;
            border-right: 15px solid rgba(240, 240, 240, 1);
            padding: 0;
            background: rgba(220, 220, 220, 1);
            position: relative;
            a {
                position: relative;
                width: 100%;
                height: 100%;
                left: 0;
                color: $mainColor;
                display: flex;
                flex-direction: row;
                transition: color 0.2s ease-out;
                h4 {
                    font-weight: 700;
                    color: $mainColor;
                    min-height: 4em;
                    background: rgba(220, 220, 220, 1);;
                    padding: 8px;
                    border-bottom: 0.05em solid rgba(240, 240, 240, 1);
                }
                &:hover, &:visited, &:focus {
                    text-decoration: none;
                }
            }
            div {
                display: flex;
                flex-direction: column;
                width: 100%;
                span {
                    margin-top: 4px;
                    height: 100%;
                    background: rgba(220, 220, 220, 1);;
                    padding: 8px;
                }
            }
        }
    }
}

.articles {
    padding-top: 2.5em;
    & > .col-lg-6 {
        margin-bottom: 5em;
    }
    h1 {
        font-size: 1.8em;
        padding: 18px 0px 18px 0px;
        text-align: left;
        font-weight: 700;
    }
    p {
        padding: 8px 0px 25px 0px;
        text-align: left;
        font-size: 1.4em;
        font-weight: 100;
        color: rgb(90, 90, 90);
    }
    figure {
        & + div {
            min-height: 3.8em;
            & > div:nth-child(1) {
                text-align: left;
                font-size: 1.3em;
                .nm {
                    color: $mainColor;
                }
                & + div {
                    text-align: right;
                    font-size: 1.3em;
                    i {
                        padding-right: 0.5em;
                        color: $mainColor;
                    }
                & > i:first-child + span {
                        padding-right: 0.7em;
                    }
                }
            }
        }
        figcaption {
            min-height: 10em;
        }
    }
    & > div {
        margin-bottom: 2em;
    }
}

footer {
    background: rgba(220, 220, 220, 1);
    .copy {
        color: #000;
        text-transform: uppercase;
        text-align: center;
        display: block;
        font-size: 1.3em;
        padding: 1em;
        font-weight: 900;
        @include bp-xlarge {
            text-align: center;
        }
        @include bp-large {
            text-align: center;
        }
        @include bp-medium {
            text-align: center
        }
        @include bp-small {
            text-align: center;
        }
    }
}

button {
    font-size: 1.3em!important;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    transition: background 0.1s ease-out, color 0.2s ease-out;
    background: transparent;
    font-weight: 700!important;
    max-width: 170px;
    &:hover, &:focus, &:active {
        color: $mainColor!important;
        background: $mainColor2;
    }
}

.post-section {
    .post-info {
        padding: 3em 0;
        h1 {
            font-size: 3.5em;
            font-weight: bolder;
            text-align: center;
            text-transform: capitalize;
        }
    }
    img {
        max-height: 40em;
        width: 100%;
    }
    .img-hf {
        padding-right: 15px;
    }
    .para {
        p {
            padding: 1.5em 0 ;
            font-size: 1.2em;
            text-align: left;
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
        }
        blockquote {
            color: $mainColor;
            font-size: 1.5em;
            background: rgba(220, 220, 220, 1);
            border-left: 4px solid $mainColor;
            font-style: italic;
            margin-top: 20px;
            &:before {
                content: '"';
                color: $mainColor;
                margin-right: 4px;
                font-size: 1.5em;
                line-height: 0;
            }
            &:after {
                content: '"';
                color: $mainColor;
                margin-right: 4px;
                line-height: 0;
                font-size: 1.5em;
            }
        }
    }
    .tags-sec {
        padding: 10px 0;
        background: rgba(220, 220, 220, 1);
        .tags {
            .slash {
                opacity: 0.4;
            }
            p {
                font-size: 20px;
                font-weight: 800;
                span {
                    font-weight: 800;
                    font-size: 20px!important;
                    a {
                        color: $mainColor!important;
                        font-weight: 800;
                        text-transform: uppercase;
                        transition: 0.2s ease-out;
                        &:visited, &:hover, &:focus {
                            color: rgba(6,47,79,0.7)!important;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .fa {
            font-size: 1.4em;
            color: $mainColor!important;
            font-weight: 800;
            transition: 0.2s ease-out;
            &:visited, &:hover, &:focus {
                color: rgba(6,47,79,0.7)!important;
            }
        }
    }
}

.direction {
    display: none;
}

.rm-p {
    padding: 0;
}

.post-section {
    .row:nth-child(5) {
        .para {
            p {
                text-indent: 19px;
                padding-top: 0;
            }
        }
    }
}

