// HOME PAGE

// BLOGS PREVIEW
.blogs-preview-section {
    .blogs {
        padding: 1em 1em;
    }
    .blog {
        min-height: 24em;
        margin: 0em;
        padding: 1em 3em;
        font-size: 11.5px;
        img {
            padding-bottom: 1em;
            padding-right: 0;
            height: 9em;
            width: auto;
        }
        figcaption {
            a {
                font-weight: bolder;
                transition: 0.2s ease-in-out;
                font-family: $mainFontFamilyItalic!important;
                &:hover {
                    color: dimgrey;
                }
            }
        }
        p {
            padding: 0;
            font-size: 1.15em;
            text-align: justify;
        }
        .title_author {
            h1 {
                margin: 20px 0 0 0;
            }
            .user-info {
                display: flex;
                flex-direction: row;
                padding: 1em 1em 1em 0;
                .img {
                    margin-right: 0.7em;
                    height: 3em;
                    border-radius: 100%;
                    width: 3em;
                    background: url('./../img/73.jpg');
                    background-size: cover;
                    background-position: center;

                }
                a {
                    font-size: 1.7em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-family: $mainFontFamilyItalic;
                    cursor: pointer;
                }
            }
            display: flex;
            flex-direction: column;
        }
        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .published {
                padding: 1em 15px 15px 15px;
                span {
                    font-family: $mainFontFamilyItalic!important;
                }
                span:first-child {
                    font-weight: bolder;
                }
            }
            .info-icons {
                text-align: right;
                padding: 1em 15px 15px 15px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .comments {
                    margin-right: 20px;
                }
            }
        }
    }
}

// Category Blogs

.category-blogs {
    padding-top: 1.9em;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    .blog {
        margin-bottom: 3em;
        .title_author {
            padding-bottom: 0.8em;
            text-align: center;
            h2 {
                padding: 0.9em 0em 0em 0em;
            }
        }
        .img {
            height: 275px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        a {
            font-weight: 700;
            border-bottom: 1px solid black;
        }
        p {
            padding: 1em 0em;
        }
        .info-box {
            .published {
                padding: 0;
                span {
                    font-weight: 600;
                }
            }
        }
    }
}